
.container{
    display:flex;
    flex-direction: column;
    position:fixed;
    background: #121212;
    top:0;
    left:0;
    width:4%;
    height: 100%;
    padding: 0;
    
}
.logo-item{
    padding-top: 10px;
    padding-bottom: 10px;
    color:white;
    font-size: 50px;
    transition: all .2s ease-in-out;
}
.logo-item:hover{
    color: orange;
    transform: rotateZ(360deg);
}
.section{
    padding-top: 15px;
    padding-bottom: 15px;
}
.itemIco{
    color: #676765;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all .2s ease-in-out; 
    position: inherit;
}
.itemIco:hover{
    transform: scale(1.1);
    color:#B0EB9D;
}
